@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
    background-color: #100f0f;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

/* styles.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.popup-content {
    background-color: #fff;
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}

.popup h2 {
    margin-bottom: 10px;
    z-index: 10;
}

.join-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.join-popup-content {
    background-color: #fff;
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}

.modal {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

    & > * {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

/* extra styling */

body {
    min-height: 100vh;
    margin: 2rem;
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--gray-8);
}

h1 em {
    color: var(--cyan-9);
    text-decoration: underline;
    text-underline-offset: 0.25em;
}

.button {
    border: 0;
    cursor: pointer;
    background: var(--gray-8);
    color: var(--gray-2);
    font-weight: 700;
    padding: var(--size-2) var(--size-4);
}

.button:hover,
.button:focus {
    background: var(--cyan-9);
}

form {
    display: grid;
    gap: 1em;
}
