@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
    background-color: #100F0F;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#root {
  max-width: 1280px;
  margin:  auto;
  padding: auto;
}

.container {
    width: 80vh;
    margin: 6.7vh auto 1.3vh;
    padding: 5.4vh 3.3vh 2.6vh;
    background-color: #DBE7C9;
    border-radius: 1.3vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#gameboard {
    width: 75.5vh;
    height: 75.5vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square {
    width: 9.4vh;
    height: 9.4vh;
    position: relative;
}

.square svg {
    height: 6.7vh;
    width: 6.7vh;
    margin: 1.3vh;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: #4e7837;
}

.brown {
    background-color:#CDC2AE;
}

.black {
    fill: rgb(28, 28, 28);
}

.white {
    fill: rgb(255, 255, 255);
}

#info-display {
    background-color: #fff;
    color: #ff0000;
    font-size: 2.5vh;
    padding: 1.3vh;
    border-radius: 0.7vh;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    transition: opacity 0.3s ease;
    margin-top: 1.3vh;
}

#info-display.hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#player-display {
    text-align: center;
}

#player-display p {
    font-size: 3.3vh;
    color: #333;
    margin: 0;
}

#player-display #player {
    font-weight: bold;
}

/* styles.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
.popup-content {
    background-color: #fff;
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
  }
  
.popup h2 {
    margin-bottom: 10px;
    z-index: 10;
  }

.join-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
.join-popup-content {
    background-color: #fff;
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
  }


  .modal {
     padding: 1em;
    max-width: 50ch;
     border: 0;
     box-shadow: 0 0 1em rgb(0 0 0 / .3);
  
    & > * {
      margin: 0 0 0.5rem 0;
    }
  }
  
  .modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }
  
  /* extra styling */
  
  body {
    min-height: 100vh;
    margin: 2rem;
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--gray-8);
  }
  
  h1 em {
    color: var(--cyan-9);
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
  
  .button {
    border: 0;
    cursor: pointer;
    background: var(--gray-8);
    color: var(--gray-2);
    font-weight: 700;
    padding: var(--size-2) var(--size-4);
  }
  
  .button:hover,
  .button:focus {
    background: var(--cyan-9);
  }
  
  form {
    display: grid;
    gap: 1em;
  }
  