body {
    font-family: Arial, sans-serif;
    background-color: #C2DEDC;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vh;
    margin: 50px auto 10px;
    padding: 40px 25px 20px;
    background-color: #F7E6C4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#gameboard {
    width: 75.5vh;
    height: 75.5vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.square {
    width: 9.4vh;
    height: 9.4vh;
    position: relative;
}

.square svg {
    height: 6.7vh;
    width: 6.7vh;
    margin: 10px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(110, 110, 98);
}

.brown {
    background-color:#CDC2AE;
}

.black {
    fill: rgb(28, 28, 28);
}

.white {
    fill: rgb(255, 255, 255);
}

#info-display {
    background-color: #fff;
    color: #ff0000;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    transition: opacity 0.3s ease;
    margin-top: 10px;
}

#info-display.hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

#player-display {
    text-align: center;
}

#player-display p {
    font-size: 24px;
    color: #333;
    margin: 0;
}

#player-display #player {
    font-weight: bold;
}

